body {
    font-family: Arial, sans-serif;
    background-color: #292929; /* Couleur de fond sombre */
    color: #eee; /* Couleur du texte */
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.log-in-link {
    text-align: center;
    margin-bottom: 20px;
}

.log-in-link a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.log-in-link a:hover {
    background-color: #0056b3;
}

.manga-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.manga {
    background-color: #333; /* Couleur de fond des cellules */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff; /* Couleur du titre */
}

.manga img {
    width: 100%; /* Image prend toute la largeur de son conteneur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    border-radius: 5px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

