/* CSS pour la page fiche-manga.php */

body {
    font-family: Arial, sans-serif;
    background-color: #292929; /* Couleur de fond sombre */
    color: #eee; /* Couleur du texte */
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.manga {
    background-color: #333; /* Couleur de fond des cellules */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px; /* Largeur maximale du conteneur manga */
    margin: 0 auto; /* Centrer le conteneur manga horizontalement */
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff; /* Couleur du titre */
}

img {
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 5px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    color: #eee; /* Couleur du texte */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
